* {
	margin: 0;
	padding: 0;
	font-size: 16px;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

#wrapper {
	width: 80%;
	margin: auto;
}

h1 {
	font-size: 3rem;
	text-align: center;
	font-weight: 900;
	margin: 50px;
	color: red;
}

input {
	display: block;
	padding: 10px;
	border-radius: 50px;
	border: 3px solid red;
	margin: auto;
	text-align: center;
	color: red;
	outline: none;
}

header {
	padding: 30px 0 50px;
	text-align: center;
}

header p {
	margin-top: 30px;
	text-align: center;
}

#container {
	display: grid;
	grid-template-columns: repeat(4, calc(25% - 15px));
	grid-template-rows: repeat(5, 300px);
	gap: 20px;
}

.character {
	position: relative;
}

.character img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.imgFooter {
	position: absolute;
	bottom: 0;
	background-color: red;
	font-weight: bold;
	text-align: left;
	width: 100%;
	color: rgb(247, 209, 209);
}

.fa-star {
	color: rgb(247, 209, 209);
	cursor: pointer;
	position: absolute;
	bottom: 0;
	right: 0;
}

.fa-star:hover {
	color: rgb(255, 217, 0);
	transform: scale(3);
}

.tooltip {
	position: absolute;
	bottom: 1rem;
	right: 2rem;
	width: 60px;
	font-size: 0.8rem;
	color: black;
	display: none;
	background-color: rgb(255, 244, 182);
	border-radius: 5px;
	text-align: center;
}

.fa-star:hover~.tooltip {
	display: block;
}

.loaderDot {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: red;
	position: absolute;
	bottom: 0;
}

.loaderDot:first-of-type {
	animation: dots 1s linear infinite normal;
	left: 0;
}

.loaderDot:nth-of-type(2) {
	animation: dots 1s linear 0.25s infinite normal;
	left: 40px;
}

.loaderDot:nth-of-type(3) {
	animation: dots 1s linear 0.75s infinite normal;
	left: 80px;
}

#loader {
	width: 100px;
	position: relative;
	margin-top: 50px;
	display: none;
	margin-left: auto;
	margin-right: auto;
}

.info {
	grid-column: 2/4;
	grid-row: 1/2;
	text-align: center;
	color: red;
}

@keyframes dots {
	0% {
		bottom: 0;
	}

	25% {
		bottom: 20px;
	}

	50% {
		bottom: 0;
	}

	100% {
		bottom: 0;
	}
}

@media all and (max-width: 786px) {
	#container {
		grid-template-columns: repeat(2, calc(50% - 10px));
		grid-template-rows: repeat(10, 300px);
	}
}

@media all and (max-width: 568px) {
	#container {
		grid-template-columns: 100%;
		grid-template-rows: repeat(20, 300px);
	}
}